* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}
.big-boss {
  display: flex;

}
/* <!--......................... header..................... --> */
header {
  height: 62px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  z-index: 200;
  position: sticky;
  top:0px
  
}
/* <!-- ........logo-box...... --> */
.logo-box {
  display: flex;
  margin-left: 10px;
}
.bar:hover {
  width: 45x;
  height: 45x;
  background-color:  #ebebeb;
  border-radius: 50%;
}
.bar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  cursor: pointer;
}
.logo {
  height: 20px;
  width: 93px;
  padding: 18px 14px 18px 16px;
  cursor: pointer;
}
/* <!-- ........search-bar...... --> */
.search-bar {
  height: 40px;
  width: 620px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  height: 40px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 40px 0 0 40px;
  border: 1px solid #c6c6c6;
}

.search-icon {
  height: 40px;
  width: 64px;
  background-color: rgb(235, 235, 235);
  border-radius: 0 40px 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c6c6c6;
  cursor: pointer;
}
.search-icon:hover {
  background-color: #d6d6d6;
}
.micro-icon:hover {
  width: 45x;
  height: 45x;
  background-color: #d7d7d7;
  border-radius: 50%;

}
.micro-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 50%;
  cursor: pointer;
 margin-left: 10px;
}
/* <!-- ........icon-box...... --> */

.icon-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  padding-right: 20px;
  
}
.create {
  width: 95px;
  height: 36px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  padding-right: 10px;
  cursor: pointer;
}
.create:hover {
  width: 95px;
  height: 36px;
  background-color: #d7d7d7;
}
.bell:hover,
.profile:hover {
  width: 45x;
  height: 45x;
  background-color:  #ebebeb;
  border-radius: 50%;
}
.bell,
.profile {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* <!--......................... Aside bar..................... --> */
aside {
  width: 240px;
  height: fit-content;
  background-color: #ffffff;
  padding: 20px;

}
 /* <!----------------== part 1 ==------------> */
.side-box1 {
  width: 204px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 12px;
  margin-bottom: 0px;
  cursor: pointer;
}
.side-box1:hover{
   width: 204px;
  height: 40px;
  background-color: #d7d7d7;
  border-radius: 10px;
}
.sup-box {
  display: inline-block;
  padding-left: 20px;
}
.side-box2,
.side-box3,
.side-box4,
.side-box5,
.side-box6,
.side-box7,
.side-box8,
.side-box9{
 width: 204px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 12px;
  margin-bottom: 0px;
  font-size: 16px;
  cursor: pointer;
}
.side-box2:hover,
.side-box3:hover,
.side-box4:hover,
.side-box5:hover,
.side-box6:hover,
.side-box7:hover,
.side-box8:hover,
.side-box9:hover{
   width: 204px;
  height: 40px;
  background-color:  #f1f1f1;
  border-radius: 10px;
}
/* <!----------------== part 2 ==------------> */
.section2{
  height: 40px;
  width: 204px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}
.section2:hover{
    width: 204px;
  height: 40px;
  background-color:  #f1f1f1;
  border-radius: 10px;
}
/* <!----------------== part 3 ==------------> */
.liked-box1,
.liked-box2,
.liked-box3,
.liked-box4,
.liked-box5,
.liked-box6{
  width: 204px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 12px;
  margin-bottom: 0px;
  font-size: 16px;
  cursor: pointer;
}
.liked-box1:hover,
.liked-box2:hover,
.liked-box3:hover,
.liked-box4:hover,
.liked-box5:hover,
.liked-box6:hover{
    width: 204px;
  height: 40px;
  background-color:  #f1f1f1;
  border-radius: 10px;
}
/* <!----------------== part 4 ==------------> */
.explore-box1,
.explore-box2,
.explore-box3,
.explore-box4{
 width: 204px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 12px;
  margin-bottom: 0px;
  font-size: 16px;
  cursor: pointer;
}
.explore-box1:hover,
.explore-box2:hover,
.explore-box3:hover,
.explore-box4:hover{
   width: 204px;
  height: 40px;
  background-color:  #f1f1f1;
  border-radius: 10px;
}
/* <!----------------== part 5 ==------------> */
.s-box1,
.s-box2,
.s-box3,
.s-box4{
 width: 204px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 12px;
  margin-bottom: 0px;
  font-size: 16px;
  cursor: pointer;
}
.s-box1:hover,
.s-box2:hover,
.s-box3:hover,
.s-box4:hover{
  width: 204px;
  height: 40px;
  background-color:  #f1f1f1;
  border-radius: 10px;
}
 /* <!--......................... == Nav bar ==..................... --> */
.nav-list{
  width: fit-content;
  height: 56px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  gap: 12px;
  position: sticky;
  top: 62px;
  z-index: 1;

 
}
 .list1
 {
  height:32px ;
  width:fit-content;
  background-color: black;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
   padding: 6px 12px;
  white-space: nowrap;
  cursor: pointer;
}
.list2,
 .list3,
 .list4,
 .list5,
 .list6,
 .list7,
 .list8,
 .list9,
 .list10,
 .list11,
 .list12,
 .list13,
 .list14,
 .list15,
 .list16,
 .list17{
   height:32px ;
  width:100%;
  color: black;
   background-color: #f1f1f1;
   border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
   padding: 6px 12px;
   white-space: nowrap;
   cursor: pointer;
 }
 /* <!--.........................== Main ==..................... --> */
 .video-card1,
 .video-card2,
 .video-card3{
  height: 300px;
  width: 320px;
display: inline-block;
margin-left: 6px;
 

 }
 .thumb-card1,
 .thumb-card2,
 .thumb-card3{
  height: 190px;
  width: 320px;
  position: relative;
 margin: 10px;
cursor: pointer;

 
 }
 .thumb-card1 img,
 .thumb-card2 img,
 .thumb-card3 img{
  width: 320px;
  height: 190px;
  border-radius: 5px;
  
 }
 .main-icon1,
 .main-icon2,
 .main-icon3{
  position: absolute;
 right: 5px;
 top: 10px; 
}
 .icon-1{
   width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 
 }
 .icon-1:hover,
 .icon-2:hover{
   width: 35px;
  height: 35px;
  background-color: black;
  color: white;
  border-radius: 50%;
 }
  .icon-2{
   width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .info-box{
  height: 100px;
  width: 320px;
 justify-content: space-between;
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
 }
 .title-box{
 padding-left: 5px;
 }
 .profile-box{
  padding-top: 10px;
 }
 .dot-icon i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
 }
 .dot-icon:hover{
  width: 40px;
  height: 40px;
  background-color: #ebebeb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

