* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: calibri;
}

body {
  background-color: rgb(255, 255, 255);
}
.big-boss {
  display: flex;
}
/* <!--......................... header..................... --> */
header {
  height: 62px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  z-index: 200;
  position: sticky;
  top: 0px;
}
/* <!-- ........logo-box...... --> */
.logo-box {
  display: flex;
  margin-left: 10px;
}
.bar:hover {
  width: 45x;
  height: 45x;
  background-color: #ebebeb;
  border-radius: 50%;
}
.bar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  cursor: pointer;
}
.logo {
  height: 20px;
  width: 93px;
  padding: 18px 14px 18px 16px;
  cursor: pointer;
}
/* <!-- ........search-bar...... --> */
.search-bar {
  height: 40px;
 
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  height: 40px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 40px 0 0 40px;
  border: 1px solid #c6c6c6;
}

.search-icon {
  height: 40px;
  width: 64px;
  background-color: rgb(235, 235, 235);
  border-radius: 0 40px 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c6c6c6;
  cursor: pointer;
}
.search-icon:hover {
  background-color: #d6d6d6;
}
.micro-icon:hover {
  width: 45x;
  height: 45x;
  background-color: #d7d7d7;
  border-radius: 50%;
}
.micro-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}
/* <!-- ........icon-box...... --> */

.icon-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  padding-right: 20px;
  padding-top: 8px;
}
.create {
  width: 95px;
  height: 36px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  padding-right: 10px;
  cursor: pointer;
}
.create:hover {
  width: 95px;
  height: 36px;
  background-color: #d7d7d7;
}
.bell:hover,
.profile:hover {
  width: 45x;
  height: 45x;
  background-color: #ebebeb;
  border-radius: 50%;
}
.bell,
.profile {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* <!--......................... Aside bar..................... --> */
aside {
  width: 240px;
  height: fit-content;
  background-color: #ffffff;
  padding: 20px;

  position: fixed;
  z-index: 100;
}

/* <!----------------== part 1 ==------------> */
.side-box1 {
  width: 204px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 12px;
  margin-bottom: 0px;
  cursor: pointer;
}

.side-box1:hover {
  width: 204px;
  height: 40px;
  background-color: #d7d7d7;
  border-radius: 10px;
}
.sup-box {
  display: inline-block;
  padding-left: 20px;
}
.side-box2,
.side-box3,
.side-box4,
.side-box5,
.side-box6,
.side-box7,
.side-box8,
.side-box9 {
  width: 204px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 12px;
  margin-bottom: 0px;
  font-size: 16px;
  cursor: pointer;
}
.side-box2:hover,
.side-box3:hover,
.side-box4:hover,
.side-box5:hover,
.side-box6:hover,
.side-box7:hover,
.side-box8:hover,
.side-box9:hover {
  width: 204px;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 10px;
}
/* <!----------------== part 2 ==------------> */
.section2 {
  height: 40px;
  width: 204px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}
.section2:hover {
  width: 204px;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 10px;
}
/* <!----------------== part 3 ==------------> */
.liked-box1,
.liked-box2,
.liked-box3,
.liked-box4,
.liked-box5,
.liked-box6 {
  width: 204px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 12px;
  margin-bottom: 0px;
  font-size: 16px;
  cursor: pointer;
}
.liked-box1:hover,
.liked-box2:hover,
.liked-box3:hover,
.liked-box4:hover,
.liked-box5:hover,
.liked-box6:hover {
  width: 204px;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 10px;
}
/* <!----------------== part 4 ==------------> */
.explore-box1,
.explore-box2,
.explore-box3,
.explore-box4 {
  width: 204px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 12px;
  margin-bottom: 0px;
  font-size: 16px;
  cursor: pointer;
}
.explore-box1:hover,
.explore-box2:hover,
.explore-box3:hover,
.explore-box4:hover {
  width: 204px;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 10px;
}
/* <!----------------== part 5 ==------------> */
.s-box1,
.s-box2,
.s-box3,
.s-box4 {
  width: 204px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 12px;
  margin-bottom: 0px;
  font-size: 16px;
  cursor: pointer;
}
.s-box1:hover,
.s-box2:hover,
.s-box3:hover,
.s-box4:hover {
  width: 204px;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 10px;
}
/* <!--......................... == Nav bar ==..................... --> */
.nav-main {
  flex-grow: 1;
  min-width: 0;
}
.nav-list {
  width: fit-content;
  height: 56px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  gap: 12px;
  position: sticky;
  top: 62px;
  z-index: 1;
  scrollbar-width: inherit;
  margin-left: 235px;
  overflow: visible;
}
.list1 {
  height: 32px;
  width: fit-content;
  background-color: black;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  padding: 6px 12px;
  white-space: nowrap;
  cursor: pointer;
}
.list2,
.list3,
.list4,
.list5,
.list6,
.list7,
.list8,
.list9,
.list10,
.list11,
.list12,
.list13,
.list14,
.list15,
.list16,
.list17 {
  height: 32px;
  width: 100%;
  color: black;
  background-color: #f1f1f1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  padding: 6px 12px;
  white-space: nowrap;
  cursor: pointer;
}
/* <!--.........................== Main ==..................... --> */
.main {
  margin-left: 235px;
}
.video-card1,
.video-card2,
.video-card3,
.video-card4,
.video-card5,
.video-card6 {
  height: 300px;
  width: 320px;
  display: inline-block;
  margin-left: 6px;
}
.thumb-card1,
.thumb-card2,
.thumb-card3,
.thumb-card4,
.thumb-card5,
.thumb-card6 {
  height: 190px;
  width: 320px;
  position: relative;
  margin: 10px;
  cursor: pointer;
}
.thumb-card1 img,
.thumb-card2 img,
.thumb-card3 img,
.thumb-card4 img,
.thumb-card5 img,
.thumb-card6 img {
  width: 320px;
  height: 190px;
  border-radius: 5px;
}
.main-icon1,
.main-icon2,
.main-icon3,
.main-icon4,
.main-icon5,
.main-icon6 {
  position: absolute;
  right: 5px;
  top: 10px;
}
.icon-1 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* do not touch this  */
.icon-1:hover,
.icon-2:hover {
  width: 35px;
  height: 35px;
  background-color: black;
  color: white;
  border-radius: 50%;
}
.icon-2 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-box1,
.info-box2,
.info-box3,
.info-box4,
.info-box5,
.info-box6 {
  height: 100px;
  width: 320px;
  justify-content: space-between;
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
}
.title-box1,
.title-box2,
.title-box3,
.title-box4,
.title-box5,
.title-box6 {
  padding-left: 5px;
}
.profile-box1,
.profile-box2,
.profile-box3,
.profile-box4,
.profile-box5,
.profile-box6 {
  padding-top: 10px;
}
.dot-icon i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot-icon:hover {
  width: 40px;
  height: 40px;
  background-color: #ebebeb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Short box Styling Start  */
.shorts {
  height: 40px;
  width: 100%;
  margin-left: 20px;
  margin-top: 20px;
}
.shorts i {
  margin-right: 10px;
  font-size: 25px;
  color: #f60f0f;
}
.short-heading {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-weight: 700;
}
.short-main-box {
  display: flex;
  gap: 12px;
  cursor: pointer;
}
/* Short Card styling */
.short-card1,
.short-card2,
.short-card3,
.short-card4 {
  height: 466px;
  width: 261px;
  border-radius: 8px;

  background-color: rgb(255, 255, 255);
}
.short-thumb1,
.short-thumb1 img,
.short-thumb2,
.short-thumb2 img,
.short-thumb3,
.short-thumb3 img,
.short-thumb4,
.short-thumb4 img {
  height: 392px;
  width: 261px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.short-info1,
.short-info2,
.short-info3,
.short-info4 {
  height: 74px;
  width: 261px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  position: relative;
  display: flex;
}
.short-title1,
.short-title2,
.short-title3,
.short-title4 {
  margin-top: 9px;
}
.short-dots {
  position: absolute;
  top: 1px;
  right: -12px;
}

.short-dots i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
}
.short-dots i:hover {
  width: 40px;
  height: 40px;
  background-color: #dedede;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
    



@media only screen and (max-width: 1100px) {
  .search-bar {
  height: 40px;
 
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  height: 40px;
  width: 350px;
 
  background-color: #ffffff;
  border-radius: 40px 0 0 40px;
  border: 1px solid #c6c6c6;
}




}

@media only screen and (max-width: 960px){

  .search-bar {
  height: 40px;
 
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .input{
    height: 40px;
  width: 150px;
 
  background-color: #ffffff;
  border-radius: 40px 0 0 40px;
  border: 1px solid #c6c6c6;
  }

}
@media only screen and (max-width: 850px){
  .input{
    height: 40px;
  width:100px;
 
  background-color: #ffffff;
  border-radius: 40px 0 0 40px;
  border: 1px solid #c6c6c6;
  }
}
@media only screen and (max-width: 720px){
  .input{
    height: 40px;
  width:130px;
 display: none;
  background-color: #ffffff;
  border-radius: 40px 0 0 40px;
  border: 1px solid #c6c6c6;
  }
  .search-icon {
  height: 40px;
  width: 64px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border:none;
}
}
